<header class="header">
    <section class="container">
        <h1><%- config.title %></h1>
        <hr>
    </section>
</header>
<section class="container">
        <div class="row">
            <div class="column">
                <h2><%- page.date.format("YYYY-MM-DD") %></h2>
                <h1><%- page.title %></h1>
                <p><%- page.content %></p>
                <hr>
            </div>
        </div>
</section>